{% extends 'base/base.html' %}
{% block content %}
<div class="container mx-auto flex flex-col min-h-screen">
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold my-7">Add Product Category</h1>
                <fieldset class="fieldset mx-auto bg-base-200 border-base-300 rounded-box w-xs border p-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-block mt-5" type="submit">Add</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock content %}